html {
    font-size: 62.5%;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

canvas {
    /* cursor: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_39)'%3E%3Cpath d='M14 4.5L19.9326 9.78143L3.99998 22L1.99998 20L14 4.5Z' fill='white'/%3E%3Cpath d='M14.36 4.079L15.287 3.152C16.0245 2.41456 17.0246 2.00027 18.0675 2.00027C19.1104 2.00027 20.1106 2.41456 20.848 3.152C21.5855 3.88943 21.9997 4.88961 21.9997 5.9325C21.9997 6.97539 21.5855 7.97556 20.848 8.713L19.921 9.64M14.361 4.079C14.361 4.079 14.476 6.049 16.214 7.786C17.952 9.524 19.921 9.64 19.921 9.64M14.36 4.079L5.83802 12.599C5.26102 13.177 4.97202 13.466 4.72402 13.784C4.43141 14.1595 4.18028 14.5655 3.97502 14.995C3.80202 15.359 3.67302 15.747 3.41502 16.521L2.32102 19.802M19.921 9.64L11.4 18.16C10.823 18.737 10.534 19.026 10.216 19.274C9.84054 19.5666 9.43452 19.8177 9.00502 20.023C8.64102 20.196 8.25402 20.325 7.47902 20.583L4.19802 21.677M4.19802 21.677L3.39602 21.945C3.20907 22.0077 3.00835 22.017 2.81641 21.9719C2.62446 21.9267 2.44891 21.829 2.30949 21.6895C2.17007 21.5501 2.07229 21.3746 2.02716 21.1826C1.98203 20.9907 1.99133 20.7899 2.05402 20.603L2.32202 19.801M4.19802 21.677L2.32202 19.801Z' fill='white'/%3E%3Cpath d='M19.921 9.64L20.848 8.713C21.5855 7.97556 21.9997 6.97539 21.9997 5.9325C21.9997 4.88961 21.5855 3.88943 20.848 3.152C20.1106 2.41456 19.1104 2.00027 18.0675 2.00027C17.0246 2.00027 16.0245 2.41456 15.287 3.152L14.36 4.079L5.83802 12.599C5.26102 13.177 4.97202 13.466 4.72402 13.784C4.43141 14.1595 4.18028 14.5655 3.97502 14.995C3.80202 15.359 3.67302 15.747 3.41502 16.521L2.32102 19.802M19.921 9.64C19.921 9.64 17.952 9.524 16.214 7.786C14.476 6.049 14.361 4.079 14.361 4.079M19.921 9.64L11.4 18.16C10.823 18.737 10.534 19.026 10.216 19.274C9.84054 19.5666 9.43452 19.8177 9.00502 20.023C8.64102 20.196 8.25402 20.325 7.47902 20.583L4.19802 21.677M4.19802 21.677L3.39602 21.945C3.20907 22.0077 3.00835 22.017 2.81641 21.9719C2.62446 21.9267 2.44891 21.829 2.30949 21.6895C2.17007 21.5501 2.07229 21.3746 2.02716 21.1826C1.98203 20.9907 1.99133 20.7899 2.05402 20.603L2.32202 19.801L4.19802 21.677Z' stroke='black' stroke-width='1.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_39'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 24, auto; */
    position: absolute;
    top: 0;
    left: 0;
}

.zooming {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 22px;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, .2);
}

.zoom-in {
    border: 2px solid black;
    padding: 24px 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #F1F5F9;
}
.zoom-out {
    border: 2px solid black;
    padding: 24px 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #F1F5F9;
}

.tray {
    width: 850px;
    height: 110px;
    background-color: #F1F5F9;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, .2);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zooming, .zooming * {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
}

.tray, .tray * {
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

.strokes {
    display: flex;
    gap: 35px;
    padding: 20px 40px;
    border-right: 2px solid black;
}

.settings {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 20px 40px;
}

#colorField {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
}

#colorField::-webkit-color-swatch-wrapper {
    padding: 0;
}

#colorField::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#colorField::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

#colorField, .stroke1,
.stroke2, .stroke3,
.stroke4, .stroke5,
#erasure, #clearCanvas {
    cursor: pointer;
}


.stroke1,
.stroke2, .stroke3,
.stroke4, .stroke5,
#erasure, #clearCanvas {
    padding: 0 5px;
}

.active {
    background-color: white;
    border-radius: 7px;
    padding: 5px;
    transform: scale(1.1);
}

.strokes *:hover {
    transform: scale(1.1);
    padding: 5px;
    background-color: white;
}

#erasure:hover {
    transform: scale(1.1);
    padding: 5px;
    background-color: white;
}

#clearCanvas:hover {
    transform: scale(1.1);
    padding: 5px;
    background-color: white;
}

@media screen and (max-width: 700px){
    .tray {
        all: unset;
    }
}